# Ignore Gradle project-specific cache directory
.gradle

.idea

# Ignore Gradle build output directory
build

# Project exclude paths
/helidon-config-ldap/out/
/helidon-config-ldap/out/production/classes/
/helidon-config-ldap/out/test/classes/